PORT=4000
DATABASE_URL="mysql://usuario:password@localhost:3306/fantasias"

# OpenAI 
OPENAI_API_KEY="sk-..."

# Cloudinary (Multimedia)
# Formato: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL="cloudinary://..."
