PORT=4000
DATABASE_URL="mysql://usuario:password@localhost:3306/fantasias"

# OpenAI 
OPENAI_API_KEY="sk-..."

# Cloudinary (Multimedia)
CLOUDINARY_CLOUD_NAME="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_API_SECRET="..."
